{
    "general": {
      "database": {
        "logging": true,
        "name": "db_name",
        "connectTimeout": 1000,
        "username": "db_user",
        "prefix": "ofq_",
        "password": "db_password",
        "host": "db_host",
        "timezone": "-06:00",
        "port": dbPort
      },
      "network": {
        "subnet1": {
          "availabilityZone": "us-east-1a"
        },
        "subnet2": {
          "availabilityZone": "us-east-1b"
        }
      }
    }
  }
  